@{
    var userId = Context.Session.GetInt32("UserId"); // Uzyskaj UserId z kontekstu
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserManagmentApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserManagmentApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-3q8u5txC0ZrMdW7gLtK5xM/iHG9hvbQUnI0RtSn1wHRU0bIhYzHGF1xIBtyu2GLY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        #cartButton:hover {
            background-color:#dbdbdb;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="container navbar  navbar-expand-lg navbar-light border-bottom border-body bg-body-tertiary text-black-50">
            <div class="container-fluid p-2">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (userId != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Dashboard">Dashboard</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Products">Produkty</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-0 mb-2 mb-lg-0">
                        @if (userId != null)
                        {
                            <li class="nav-item m-1 position-relative me-2">
                                <a id="cartButton" class="nav-link  d-flex align-items-center justify-content-center p-0" style="width: 40px; height: 40px; cursor: pointer;">
                                    <!-- Ikona koszyka w SVG -->
                                    <i class="bi h4 bi-cart3">
                                       
                                    <!-- Licznik produktów w koszyku -->
                                    <span id="cartCount" class="badge rounded-2 bg-danger text-white position-absolute top--2 start-80 translate-middle p-1" style="font-size: 0.75rem;">
                                        0
                                    </span>
                                    </i>
                                </a>
                                <!-- Lista produktów w koszyku -->
                                <div id="cartList" class="position-absolute bg-white border rounded shadow p-3" style="display: none; top: 50px; right: 0; width: 250px; z-index: 1000;">
                                    <h6>Twój koszyk:</h6>
                                    <ul id="cartItems" class="list-group mb-0">
                                        <!-- Produkty zostaną tutaj dodane przez JavaScript -->
                                    </ul>
                                    <h6 id="summary" class="pt-1"></h6>
                                    <a href="/order/cart/" id="checkoutButton" class="btn btn-primary mt-2 w-100" style="display: none;">Przejdź do zamówienia</a>
                                    <button id="clearButton" class="btn btn-danger mt-1 w-100" style="display: none;">Wyczyść</button>
                                </div>
                            </li>
                           
                         <li class="nav-item m-1">
                                <a class="btn btn-md btn-outline-secondary p-2" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                         </li>
                            
                        }
                        else
                        {
                        <li class="nav-item m-1">
                                <a class="btn btn-md btn-outline-secondary p-2" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a>
                        </li>
                        <li class="nav-item m-1">
                                <a class="btn btn-md btn-outline-secondary p-2" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
                        </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
</ul>
            <p class="text-center text-body-secondary">&copy; 2024 - Inżynieria Oprogramowowania B - Projekt: Marek Pichniarczyk, Kacper Popko</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Funkcja pobierająca ilość produktów w koszyku z localStorage
        function updateCartCount() {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            let itemCount = cart.reduce((total, item) => total + parseInt(item.quantity, 10), 0);
            document.getElementById('cartCount').textContent = itemCount;
        }
        // Funkcja do wyświetlenia listy produktów w koszyku
        function displayCartItems() {
            let cartList = document.getElementById('cartList');
            let cartItemsContainer = document.getElementById('cartItems');
            let checkoutButton = document.getElementById('checkoutButton');
            let clearButton = document.getElementById('clearButton');
            let summaryHeader = document.getElementById('summary');
            cartItemsContainer.innerHTML = ""; // Wyczyść poprzednią zawartość

            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            var summary = 0;

            if (cart.length === 0) {
                cartItemsContainer.innerHTML = "<li class='list-group-item'>Twój koszyk jest pusty</li>";
                checkoutButton.style.display = 'none'; // Ukryj przycisk, gdy koszyk jest pusty
                clearButton.style.display = 'none';
            } else {
                cart.forEach(item => {
                    let li = document.createElement('li');
                    li.className = 'list-group-item';
                    li.innerHTML = `${item.name} <span style="border: 1px solid green; color:green;" class="badge rounded-pill text-bg-primary">${item.quantity} szt.</span> <br> <p class="lead"><small>${item.price} zł</small></p>`;
                    summary += parseFloat(item.price) * parseFloat(item.quantity);
                    cartItemsContainer.appendChild(li);
                    summaryHeader.innerHTML = `Suma: ${summary.toLocaleString('pl-PL')} PLN`;
                });
                checkoutButton.style.display = 'block'; // Pokaż przycisk, gdy koszyk nie jest pusty
                clearButton.style.display = 'block';
            }

            // Przełącz widoczność listy
            cartList.style.display = cartList.style.display === 'none' ? 'block' : 'none';
        }

        // Wywołaj funkcję aktualizującą licznik po załadowaniu strony
        document.addEventListener('DOMContentLoaded', updateCartCount);

        // Obsługa kliknięcia przycisku koszyka
        document.getElementById('cartButton').addEventListener('click', displayCartItems);

        // Opcjonalnie, dodaj obsługę przycisku "Przejdź do zamówienia"
        document.getElementById('checkoutButton').addEventListener('click', function () {
            
        });
        clearButton.addEventListener('click', function () { 
            localStorage.clear();
            summaryHeader.innerHTML = "";
            document.addEventListener('DOMContentLoaded', updateCartCount);
            // location.reload();
        });
    </script>
</body>
</html>
