@model UserManagmentApp.Models.User
@{
    ViewData["Title"] = "AdminDashboard";
}

<div class="container">
    <h2>Admin Dashboard</h2>
    <p>Witaj, adminie @Model.UserName</p>
    <!-- Tutaj dodaj sekcje, które powinny być dostępne tylko dla admina -->
</div>