@model UserManagmentApp.Models.ProductViewModel
@{
    ViewData["Title"] = "Produkty";
}

<div class="d-inline-flex d-flex p-2">
     <h2>Produkty</h2>
    @if (Model.User != null)
    {
        if (Model.User.UserType == "Admin")
        {
            <a href="/Products/AddProducts" class="btn ms-3 btn-success">Dodaj produkt</a>
        }
    }
</div>


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var product in Model.products)
            {
                if (product.IsDiscontinued == false)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="@product.ImagePath" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="@product.ProductName" />
                            <div class="card-body">
                                <p class="card-text">@product.ProductName</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Pokaż</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Dodaj do koszyka</button>
                                        @if (Model.User != null)
                                        {
                                            if (Model.User.UserType == "Admin")
                                            {
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Edytuj</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Usuń</button>
                                            }
                                        }
                                    </div>
                                    <small class="text-body-secondary">@product.Price PLN</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>