@model UserManagmentApp.Models.User
@{
    ViewData["Title"] = "Rejestracja";
}

<main class="form-signin w-75 m-auto mt-5 mb-5">
    <form asp-action="Register" class="w-50 m-auto" method="post">

        <h1 class="h3 mb-3 fw-normal">Rejestracja</h1>

        <div class="form-floating mt-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="Wprowadź adres email..." asp-for="EmailAddress" />
            <label asp-validation-for="EmailAddress" for="floatingInput">E-Mail</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź nazwę użytkownika..." asp-for="UserName" />
            <label asp-validation-for="UserName" for="floatingInput">Nazwa użytkownika</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="floatingInput" placeholder="Wprowadź hasło..." asp-for="Password" />
            <label asp-validation-for="Password" for="floatingInput">Hasło</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź NIP" asp-for="NIP" />
            <label asp-validation-for="NIP" for="floatingInput">NIP</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź kod pocztowy" asp-for="KodPocztowy" />
            <label asp-validation-for="KodPocztowy" for="floatingInput">Kod pocztowy</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź miejscowość" asp-for="Miejscowosc" />
            <label asp-validation-for="Miejscowosc" for="floatingInput">Miejscowość</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź adres" asp-for="Adres" />
            <label asp-validation-for="Adres" for="floatingInput">Adres</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź telefon" asp-for="Telefon" />
            <label asp-validation-for="Telefon" for="floatingInput">Telefon</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Wprowadź nazwe frimy" asp-for="NazwaFirmy" />
            <label asp-validation-for="NazwaFirmy" for="floatingInput">Nazwa firmy</label>
        </div>
        <button class="btn btn-md btn-outline-secondary  w-100 py-2 mt-2" type="submit">Zarejestruj się!</button>
    </form>
</main>