@model UserManagmentApp.Models.User
@{
    ViewData["Title"] = "UserDashboard";
}

<div class="container">
    <h2>User Dashboard</h2>
    <p>Witaj, użytkowniku @Model.UserName</p>
    <!-- Tutaj dodaj sekcje dostępne tylko dla użytkowników -->
</div>
