@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center">
    <h2>Dziękujemy za złozenie zamówienia!</h2>
    <p>Za 3 sekund zostaniesz przekierowany na strone główną...</p>
</div>

<script>
    setTimeout(function () {
        window.location.href = '/';  
    }, 3000);  
</script>